$(document).ready(function(){
  var counter = 0;
  var mouseX = 0;
  var mouseY = 0;
  
  $("#imgtag img").click(function(e){ // make sure the image is click
    var imgtag = $(this).parent(); // get the div to append the tagging list
    mouseX = e.pageX - $(imgtag).offset().left; // x and y axis
    mouseY = e.pageY - $(imgtag).offset().top;
    $('#tagit').remove(); // remove any tagit div first
    $(imgtag).append('<div id="tagit"><div class="box"></div><div class="name"><div class="text">Type any name or tag</div><input type="text" name="txtname" id="tagname" /><input type="button" name="btnsave" value="Save" id="btnsave" /><input type="button" name="btncancel" value="Cancel" id="btncancel" /></div></div>');
    $('#tagit').css({top:mouseY,left:mouseX});
    
    $('#tagname').focus();
  });
  
  $('#tagit #btnsave').live('click',function(){
    name = $('#tagname').val();
    
    $.post( 
      url: "<%= image_tags_path(@image, @tag) %>", 
       {name: <%= @user.name[0] %>, x: mouseX, y: mouseY},
      cache: true, 
      success: function(data){
        viewtag();
        $('#tagit').fadeOut();
      }
    });
    
  });
  
   $('#tagit #btncancel').live('click',function(){
    $('#tagit').fadeOut();
    
  });
  
  $('#taglist li').live('mouseover mouseout',function(event){
    id = $(this).attr("rel");
    if (event.type == "mouseover"){
      $('#view_' + id).show();
    }else{
      $('#view_' + id).hide();
    }
  });
  
  $('#taglist li a.remove').live('click',function(){
    id = $(this).parent().attr("rel");
    // get all tag on page load
    $.ajax({
      type: "POST", 
      url: "<%= image_tags_path(@image, @tag) %>", 
      data: "tag_id=" + id + "&type=remove",
      success: function(data){
        viewtag();
      }
    });
  });
  
  viewtag(); // get all tag on page load
  
  function viewtag(pic_id)
  {
    // get the tag list with action remove
    $.ajax({
      type: "POST", 
      url: "savetag.php", 
      data: "pic_id=" + pic_id,
      cache: true, 
      success: function(data){
        $('#taglist ol').html(data);
      }
    });
    
    // get the tag list for boxes
    $.ajax({
      type: "POST", 
      url: "taglist.php", 
      data: "pic_id=" + pic_id,
      cache: true, 
      success: function(data){
        $('#tagbox').html(data);
      }
    });
  }
  
  
});