<h1>Listing look_changes</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @look_changes.each do |look_change| %>
  <tr>
    <td><%= link_to 'Show', look_change %></td>
    <td><%= link_to 'Edit', edit_look_change_path(look_change) %></td>
    <td><%= link_to 'Destroy', look_change, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Look change', new_look_change_path %>
