<div class="newsList_Article">
                <div class="articleInner">
                  <div class="left">
                    <div class="type"> Latest Responses </div>
                    <div class="image">
			<!-- for the thumbnail, grab the image that the response is about put that there.  The link should be the link to the article -->
                      <div class="imageGrayBorder"><a href="#"><img src="image.urlList" width="160" height="120" border="0" hspace="0" vspace="0" align="absmiddle" alt="Latest responses"></a></div>
                    </div>
                  </div>
                  <div class="right">
                    <div class="date">response.date_added</div>
                    <div class="source">Source: Jet Propulsion Laboratory</div>
                    <br clear="all">
                    <div class="title"><a href="#">response.title</a></div>
                      <div class="blurb"> first 250 characters of response goes here <br>
                        <a href="response.url" style="color:#b25524;text-decoration:none;font-size:14px;"><img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/newsList_more_latest_smbl.gif" width="3" height="10" alt="read the article 'NASA Rover Confirms First Drilled Mars Rock Sample'" border="0" hspace="0" vspace="0" align="absmiddle">&nbsp;Read More</a> </div>
                      </div>
                    </div>
                  </div>
