<div class="responsesContainer" id="responsesContainer">
<div id ="ourRecentResponses" class ="recentResponses">

<img src="<%= @image.urlList %>" width="200px" height="160" hspace="0" vspace="0" class="newsticker_image"/>


<div>The Title<%#= response.title %></div>
<br />
<div class="source">Source: Jet Propulsion Laboratory</div>
<br />
<div class="newstickerInfo">
</div>
                    <div class="date"><%= @response.created_at %></div>
                      <br />
<%= @response.body %>
<br />
<br />
<br />


<video class="newstickerVideo" src="<%= @response.url %>" width="640" height="360" controls>
Problem loading video.  Please make sure your browser supports html5 video. 
</video>

</div>
</div>
