
<script type = "text/javascript" src="/assets/contentflow.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script>
  <script type="text/javascript">
  var myCF = new ContentFlow('albContentFlow',  {flowDragFriction: 0.3, flowSpeedFactor: 0.01});
  var imageURLs = []; 
  var jsObj = [];
  var hrefObj = [];
  var titleObj = [];
  function bar(){
	<% @albums.each do |alb| %>
		jsObj.push("<%= alb.images.first.urlList %>");
		hrefObj.push("<%= album_path(alb) %>");
		titleObj.push("<%= "#{alb.earthday}" %>");
	<% end %>
  }
	function populateImageArray(){
    bar(); 
    $("#testing1").hide();
    for (var i=jsObj.length-1; i>=0; i--) {
		console.log(i);
      var img = $('<img class="image">');
      img.attr('src', jsObj[i]);
		img.attr('href', hrefObj[i]);
		img.attr('title', titleObj[i])
      img.appendTo('#testing1');
      }     
  }
  function updateCoverFlow(){
    var ic = document.getElementById('testing1');
    var is = ic.getElementsByTagName('img');
      for (var i=0; i< is.length; i++) {
          myCF.addItem(is[i], 'last');}
  }
  function window_OnLoadEvent() {
      populateImageArray(); 
      setTimeout(updateCoverFlow, 1000);
      }
  window.onload = setTimeout(window_OnLoadEvent,1000);
</script>
<div id="albContentFlow" class="ContentFlow" >
      <div class="CoverFlowTitle">Earth Day</div>
    <div class="flow">
    </div>
    <div class="globalCaption"></div>
    <div class="scrollbar"><div class="slider"><div class="position"></div></div></div>
</div>
<div id="testing1" class="testing2" style="display: hidden">
</div>
