<h1>Listing albums</h1>

<h1>Shit just got real</h1>

<script language="JavaScript" type="text/javascript" src="assets/contentflow.js"></script>


  <div class="ContentFlow">
    <div class="loadIndicator"><div class="indicator"></div></div>
    <div class="flow">
      <% @albums.each do |alb|  %>
			<% alb.images.find_in_batches do |img| %>
				<img class="item" href= "<%= album_path(alb) %>" src="<%= img.first.url  %>" title="<%= "Sol #{alb.sol}" %>"/>
			<% end %>
      <% end %>
    </div>
    <div class="globalCaption"></div>
    <div class="scrollbar"><div class="slider"><div class="position"></div></div></div>
  </div>


