<script type = "text/javascript" src="/assets/contentflow.js"></script>
<h1>Popular Images</h1>
<div class="ContentFlow" >
  <div class="loadIndicator"><div class="indicator"></div></div>
  <div class="flow">
  	<% @images.each do |img| %>
  		<img class="item" href= "<%= album_image_path(img.album, img) %>" src="<%= img.url %>"/>
  	<%end%>
  </div>
  <div class="globalCaption"></div>
  <!--div class="albumInformationForm" align="center" > Hello World
    <div><label>Album Id: </label>  </div>
      <div><label>Album Name: </label>  </div>
      <div><label>Album Pictures: </label>  </div>
      <div><label>Album Id: </label>  </div>
    
    </div-->
    <div class="scrollbar"><div class="slider"><div class="position"></div></div></div>

</div>


