<script type = "text/javascript" src="/assets/contentflow.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script>
  <script type="text/javascript">
  var myCF = new ContentFlow('popContentFlow');
  var imageURLs = []; 
  var jsObj = [];
  var hrefObj = [];
  var titleObj = [];
  function bar(){
	<% @images.each do |img| %>
      	jsObj.push("<%= img.urlList %>");
 		<% if admin_signed_in? %>
			hrefObj.push("<%= album_image_path(img.album, img) %>");
		<% else %>
			hrefObj.push("<%= album_image_path(img.album, img) %>");
		<% end %>
		titleObj.push("<%= "Sol: #{img.sol}" %>");
      <% end %>
  }
	function populateImageArray(){
    bar(); 
    $("#testing1").hide();
    for (var i=0; i< jsObj.length; i++) {
      var img = $('<img class="image">');
      img.attr('src', jsObj[i]);
		img.attr('href', hrefObj[i]);
		img.attr('title', titleObj[i])
      img.appendTo('#testing1');
      }     
  }
  function updateCoverFlow(){
    var ic = document.getElementById('testing1');
    var is = ic.getElementsByTagName('img');
      for (var i=0; i< is.length; i++) {
          myCF.addItem(is[i], 'last');}
  }
  function window_OnLoadEvent() {
      populateImageArray(); 
      updateCoverFlow(); 
      }
  window.onload = setTimeout(window_OnLoadEvent,800);
</script>

<div id="popContentFlow" class="ContentFlow">
    <div class="flow">
    </div>
    <div class="globalCaption"></div>
    <div class="scrollbar"><div class="slider"><div class="position"></div></div></div>
</div>
<div id="testing1" class="testing2" style="display: hidden">
</div>

<!--This is the video example. I think its encoded with the type chrome likes.-->
<!--video class="centre" id="sampleMovie" width=640 height=360 controls>
	<source src="http://markpowell.s3.amazonaws.com/like_a_rock_movies/LikeARockCalTargetStory.mov"type='video/ogg;
	 codecs="theora, vorbis"' />
</video-->
