<h1>Sol <%= @album.sol%> </h1>

<script type="text/javascript" src="/assets/contentflow.js"></script>
<!--script type="text/javascript" src="/assets/ContentFlowAddOn_white.js"></script-->

  <div class="ContentFlow">
    <div class="loadIndicator"><div class="indicator"></div></div>
    <div class="flow">
      <% @images.each do |img| %>
			<%# sleep 1.5 %>
			<%# img.each do |image|%>
				<img class="item" src="<%= img.url %>" title="<%= img.id %>"/>

			<%# end %>
      <% end %>
    </div>
    <div class="globalCaption"></div>
    <div class="scrollbar"><div class="slider"><div class="position"></div></div></div>
    
  </div>
