<script type="text/javascript" src="/assets/contentflow.js"></script>
<!--script type="text/javascript" src="/assets/ContentFlowAddOn_white.js"></script-->
<!--script>
	var myNewFlow = new ContentFlow('cf', { reflectionHeight: 0, circularFlow: false } ) ;
</script>

  <div id = "cf" class="ContentFlow"-->
  <div class = "ContentFlow">
    <h1><font>Date:  <%= @album.earthday%></font> </h1>
    <div class="loadIndicator"><div class="indicator"></div></div>
    <div class="flow">
      <% @images.find_in_batches do |img| %>
			<% sleep 1.5 %>
			<% img.each do |image|%>
				<img class="item" href = "<%= album_image_path(@album, image) %>" src="<%= image.urlList %>" title="<%= image.id %>"/>
				<!--div class="item"><div class="content">Text content to display</div></div-->
			<% end %>
      <% end %>
    </div>
    <div class="globalCaption"></div>
    <div class="scrollbar"><div class="slider"><div class="position"></div></div></div>
    
  </div>
