.adminResponse{
border: 25px solid white; 
}
.adminImageInfo{
float: right;
padding: 10px;
padding-top: 30px; 
height: 500px;
max-height: 500px; 
max-width: 270px;
}
.AdminRootPage{
  background-color: #fff;
  min-height: 550px; 
  min-width: 990px; 
  border-top: 25px solid white;
  padding-left: 30px solid white; 
}
.adminPageTitle{
    text-align: center;
    font-size: 50px;
    letter-spacing: -5px;
    color: #656270;
    text-align: left;
    font-family: "Geo", Impact, Arial, sans-serif;
    text-shadow: 0px 2px 0px #BFA491;
    text-shadow: 0px 2px 4px #BFA491;
    border-left: 30px solid white; 
}
.adminSubPageTitle{
    text-align: center;
    font-size: 30px;
    letter-spacing: -2px;
    color: #000;
    text-align: left;
    font-family: "Geo", Impact, Arial, sans-serif;
    text-shadow: 0px 2px 0px #BFA491;
    text-shadow: 0px 2px 4px #BFA491;
    border-left: 40px solid white; 
}
.adminSmallIndent{
   margin-left:20px;
}
.adminLargeIndent{
   margin-left:50px;
}