$sans: Arial, Helvetica, sans-serif;
$link: rgba(54,145,248,1);
$link-hover: rgba(27,92,182,1);
$link-visited: rgba(107,0,183,1);
$headline: 'Geo', Impact, Arial, sans-serif;
@import url("http://fonts.googleapis.com/css?family=Black+Ops+One");
@import url("http://fonts.googleapis.com/css?family=Geo:400,400italic");

body {
    background: rgba(127,75,38,1);
    background-image: url('http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/background.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 110%;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-family: $sans;
    p, h1, h2, h3, h4, h5, h6, tr, td, table, div {
        font-family: $sans;
        color: #000;
        font-weight: normal;
    }
    a {
        color: $link;
        &:hover {
            color: $link-hover;
        }
        &:visited {
            color: $link-visited;
        }
    }
}
.nasa-logo-header {
    padding: 20px 30px 0;
}
.header-nav {
    display: block;
    float: right;
    position: relative;
    top: -50px;
    text-align: right;
    font-size: 11px;
    .breadcrumbs, .nav-user {
        color: rgba(221,223,213,1);
        margin-bottom: 10px;
        a, a:visited {
            color: rgba(221,223,213,1);
            &:hover {
                color: $link;
            }
        }
    }    
}

.site-title {
    font-size: 80px;
    letter-spacing: -5px;
    color: rgba(246,249,254,1);
    text-align: center;
    font-family: $headline;
    text-shadow: 0px 2px 0px rgba(54,145,248,1);
    text-shadow: 0px 2px 4px #000;

}
.nav {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    .nav-main {
        font-size: 20px;
        color: #fff;
        text-shadow: 0px 2px 4px #000;
    }
    a, a:visited {
        font-family: $headline;
        color: #fff;
        &:hover {
            color: $link;
        }
    }
}
.page-container {
    width: 1130px;
    margin: auto;
}
.main-content {
    width: 985px;
    margin: auto;
    padding: 30px 0;
    min-height: 900px;
    border-radius: 15px;
}
.pageTitleBox {
    width: 990px;
    background-image: url('http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/content_titleBg.png');
    background-repeat: no-repeat;
    font-size: 30px;
    color: #FFFDFC;
    font-weight: bold;
    padding-left: 20px;
    vertical-align: top;
    margin-bottom: 0px;
    height: 17px !important;
    padding-bottom: 0px;
    padding-top: 40px;
    line-height: 17px;
}
.newsList_Article {
    display: block;
    float:left; 
    width:33%;
    padding-right:20px;
}
.responsesContainer {
    width: 990px;
    background-color: #FFF;
}
.recentResponses {
    width: 800px;
    background-color: #FFF;
    margin: 0 auto;
    padding: 30px 0;
    min-height: 400px;
}
.imageGrayBorder img{
    width: 200px;  
    height: 160px;
    border: 0px;
        margin-left: auto;
    margin-right: auto;
}
#footerBG {
background-image: url('http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/footerBG.jpg');
background-repeat: no-repeat;
width: 990px;
height: 170px;
clear: both;
}
.bottomnav{
padding-top: 134px;
margin-left: 340px;
color: #B0AFAD;
}
#usagov {
margin-top: 118px;
margin-left: 26px;
float: left;
}
.bottomnavlinkoff:link, .bottomnavlinkoff:visited {
font-family: arial, helvetica, verdana, sans-serif;
font-weight: bold;
font-size: 12px;
color: #BFA491 !important;
text-decoration: none;
position: relative;
}
.userSignIn{
border-top: 25px solid white;
background-color: white; 
text-align:center;
}
.subpageTitle{
font-size: x-large;
text-align:left;
}
/* Rounded Corner */
input:not([type=submit]):not([type=file]):not([type=image]):not([type=img]){
    border:2px solid #BFA491;
    border-radius:10px;
}
.newsTickerTitle{
    text-align: center; 
}
.newsticker_image {
    padding-left: 10px;
    padding-bottom: 20px;
}
.newstickerVideo {
}
.newstickerInfo {
   float: right;
}
.newsTickerTitle{
    text-align: center;
    font-size: 50px;
    letter-spacing: -5px;
    color: #656270;
    text-align: left;
    font-family: "Geo", Impact, Arial, sans-serif;
    text-shadow: 0px 2px 0px #BFA491;
    text-shadow: 0px 2px 4px #BFA491;
}
.score{
   text-align: left; 
}
.vote{
    float: right; 
    margin-right: 10px; 
}
.adminResponse{
border: 25px solid white; 
}
.adminImageInfo{
float: right;
padding: 10px;
padding-top: 30px; 
height: 500px;
max-height: 500px; 
max-width: 270px;
}
.ImageLinks
{
    vertical-align: middle;
    margin: 5px;
    text-align: right; 
}
.responseTextarea {
    height: 100px;
    width: 250px;
}
