#top_marsBanner {
    text-align: center;
    width: 1130px;
    height: 169px;
    background-image: url('http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/top_marsBanner.png');
    background-repeat: no-repeat;
    padding-top: 111px;
    margin-bottom: -100px;
}
#topSiteNavBox {
    position: relative;
    margin-top: -87px;
}
