.imagePage{
  background-color: #fff;
  min-height: 550px; 
  min-width: 990px; 
  border-top: 25px solid white;
}
#imgtag {
  position:relative;
  width: 670px;
  img {
      width: 670px;
      height: auto;    
  }
  float:left;
  border:solid 15px #fff;
  cursor: crosshair;
   background-color: #fff;
}
#imgInfo {
  position:relative;
  display: block;
  width: 260px;
  float:right;
  border:solid 10px #fff;
  cursor: crosshair;
   background-color: #fff;
}
.tagview {
  border:solid 3px #fff;
  width:100px;
  height:100px;
  position:absolute;
  display:none;
}
#tagit {
  position:absolute;
  top:0;left:0;
  width:250px;
}
#tagit .box {
  border:solid 3px #fff;
  width:100px;
  height:100px;
  float:left;
}
 
#tagit .name {
  float:left;
  background-color:#fff;
  width:130px;
  height:80px;
  padding:5px;
}
#tagit div.text {
  margin-bottom:5px;
}
#tagit input[type=text] {
  margin-bottom:5px;
}
#tagit #tagname {
  width:110px;
}
#taglist {
  background-color:#aaa;
  width:300px;
  min-height:200px;
  height:auto !important;
  height:200px;
  float:left;
  padding:10px;
  margin-left:20px;
  color:#000;
 
}
#taglist ol { padding:0 20px;float:left;cursor:pointer}
#taglist ol a { }
#taglist ol a:hover { text-decoration:underline }
.tagtitle {
  font-size:14px;
  text-align:center;
  width:100%;
  float:left; 
}
