<script type = "text/javascript" src="/assets/contentflow.js">
  </script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script>
  <script type="text/javascript">
  var myCF = new ContentFlow('myContentFlow');
  var imageURLs = []; 
  var jsObj = []; 
  function bar(){
      <% @moreImages.each do |img| %>
      jsObj.push("<%= img.urlList %>"); 
      <% end %>
  }
    function foo(){
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic2.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic3.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic4.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic5.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic6.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic7.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic8.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic9.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic10.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic11.jpg");  
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic12.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic13.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic14.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic15.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic16.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic17.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic18.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic19.jpg");       
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic20.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic21.jpg");  
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic22.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic23.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic24.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic25.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic26.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic27.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic28.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic29.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic30.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic31.jpg");  
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic32.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic33.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic34.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic35.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic36.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic37.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic38.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic39.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic40.jpg");
            imageURLs.push("http://jacksasylum.eu/ContentFlow/pics/pic41.jpg");
    } 
    function populateImageArray(){
      foo(); 
      bar(); 
      $("#testing1").hide();
      for (var i=0; i< imageURLs.length; i++) {
        var img = $('<img class="image">');
        img.attr('src', imageURLs[i]);
        img.appendTo('#testing1');
        }     
    }
    function updateCoverFlow(){
      var ic = document.getElementById('testing1');
      var is = ic.getElementsByTagName('img');
        for (var i=0; i< is.length; i++) {
            myCF.addItem(is[i], 'last');}
    }
    function window_OnLoadEvent() {
        populateImageArray(); 
        updateCoverFlow(); 
        }
    window.onload = setTimeout(window_OnLoadEvent,700); 
      </script>
<div id="myContentFlow" class="ContentFlow" >
    <div class="loadIndicator">
      <div class="indicator">
      </div>
    </div>
    <div class="flow">
      <% @images.each do |img| %>
      <img class="item" href= "<%= album_image_path(img.album, img) %>" src="<%= img.urlList %>"/>
      <% end %>
    </div>
    <div class="globalCaption">
    </div>
    <div class="scrollbar">
      <div class="slider">
        <div class="position">
        </div>
      </div>
    </div>
</div>
<div id="testing1" class="testing2" style="display: hidden">
</div>





