<div id="footerBG">
		<div id="usagov">
			<a href="http://www.usa.gov/" target="_blank"><img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/footer_usagov.png" width="124" height="38" alt="USA.gov" border="0"></a>
		</div>
		<div class="bottomnav">
			<a href="http://www.jpl.nasa.gov/copyrights.cfm" class="bottomnavlinkoff" target="_blank">PRIVACY</a>&nbsp;&nbsp;<img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/footerVL.gif" width="2" height="10" border="0" alt="">&nbsp;&nbsp;
			<a href="http://marsdata1.jpl.nasa.gov/DrC/" class="bottomnavlinkoff" target="_blank">FAQ</a>&nbsp;&nbsp;<img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/footerVL.gif" width="2" height="10" border="0" alt="">&nbsp;&nbsp;
			<a href="../../sitemap/" class="bottomnavlinkoff">SITEMAP</a>&nbsp;&nbsp;<img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/footerVL.gif" width="2" height="10" border="0" alt="">&nbsp;&nbsp;
			<a href="../../feedback/" class="bottomnavlinkoff">FEEDBACK</a>&nbsp;&nbsp;<img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/footerVL.gif" width="2" height="10" border="0" alt="">&nbsp;&nbsp;
			<a href="http://www.nasa.gov/multimedia/guidelines/index.html" class="bottomnavlinkoff" target="_blank">IMAGE POLICY</a>
		</div>
</div>
