<div id="top_marsBanner">
<div class="MSLhome">
    <a href="http://mars.jpl.nasa.gov/">
        <img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/spacer.gif" width="1000" height="90" alt="Mars Exploration Program" title="Mars Exploration Program" border="0">
    </a>
</div>
<div align="center" id="topSiteNavBox">
<script language="JavaScript">
<!--
function newImage(arg) {
if (document.images) {
rslt = new Image();
rslt.src = arg;
return rslt;
}
}
function changeImages() {
if (document.images && (preloadFlag == true)) {
for (var i=0; i<changeImages.arguments.length; i+=2) {
// document[changeImages.arguments[i]].src = changeImages.arguments[i+1];
document.getElementById(changeImages.arguments[i]).src = changeImages.arguments[i+1];
}
}
}
var preloadFlag = false;
function preloadImages() {
if (document.images) {
navtop_home_sel = newImage("http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_home_sel.png");
navtop_mission_sel = newImage("http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_mission_sel.png");
navtop_news_sel = newImage("http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_news_sel.png");
navtop_multimedia_sel = newImage("http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_multimedia_sel.png");
navtop_participate_sel = newImage("http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_participate_sel.png");
navtop_search_sel = newImage("http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_search_sel.png");
navtop_allmars_sel = newImage("http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_allmars_sel.png");
preloadFlag = true;
//start_countdown();
}
}
preloadImages();
// -->
</script>
<div align="center">
<table border="0" cellpadding="0" cellspacing="0">
<tbody><tr>
<td style="position: relative;"><a href="<%= root_path %>" onmouseover="changeImages('nav_home', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_home_sel.png');" onmouseout="changeImages('nav_home', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_home.png');"><img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_home.png" width="95" height="34" alt="Home" border="0" id="nav_home" style="_margin-top:-2px;"></a></td>
<td>
<div class="menu1321">

  <ul><li><a href="http://mars.jpl.nasa.gov/programmissions/" target="_blank"><img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_program-missions.png" width="210" height="34" alt="Program Missions" title="Program Missions" border="0" id="nav_programmissions" onmouseover="changeImages('nav_programmissions', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_program-missions_sel.png');" onmouseout="changeImages('nav_programmissions', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_program-missions.png');"><!--[if IE 7]><!--></a><!--<![endif]-->
<!--[if lte IE 6]><table><tr><td><![endif]-->
<ul onmouseover="changeImages('nav_programmissions', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_program-missions_sel.png');" onmouseout="changeImages('nav_programmissions', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_program-missions.png');">
<li><a href="http://mars.jpl.nasa.gov/programmissions/overview/" target="_blank" title="Overview">Overview</a></li>
<li><a href="http://mars.jpl.nasa.gov/programmissions/science/" target="_blank" title="Science">Science</a></li>
<li><a href="http://mars.jpl.nasa.gov/programmissions/technology/" target="_blank" title="Technology">Technology</a></li>
<li><a href="http://mars.jpl.nasa.gov/programmissions/missions/" target="_blank" title="Missions">Missions</a></li>
<li><a href="http://mars.jpl.nasa.gov/programmissions/people/" target="_blank" title="People">People</a></li></ul>
         <!--[if lte IE 6]></td></tr></table></a><![endif]-->
</li>   </ul>
</div>
</td>
<td>
<div class="menu1322">
<ul><li><a href="http://mars.jpl.nasa.gov/allaboutmars" target="_blank"><img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_allaboutmars.png" width="176" height="34" alt="All About Mars" title="All About Mars" border="0" id="nav_allaboutmars" onmouseover="changeImages('nav_allaboutmars', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_allaboutmars_sel.png');" onmouseout="changeImages('nav_allaboutmars', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_allaboutmars.png');"><!--[if IE 7]><!--></a><!--<![endif]--><!--[if lte IE 6]><table><tr><td><![endif]--><!--[if lte IE 6]><table><tr><td><![endif]-->
<ul onmouseover="changeImages('nav_allaboutmars', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_allaboutmars_sel.png');" onmouseout="changeImages('nav_allaboutmars', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_allaboutmars.png');">
<li><a href="http://mars.jpl.nasa.gov/allaboutmars/extreme/" target="_blank" title="Mars: Extreme Planet">Mars: Extreme Planet</a></li>
<li><a href="http://mars.jpl.nasa.gov/allaboutmars/mystique/" target="_blank" title="Pop Culture Mars">Pop Culture Mars</a></li>
<li><a href="http://mars.jpl.nasa.gov/allaboutmars/nightsky/" target="_blank" title="Mars in the Night Sky">Mars in the Night Sky</a></li> </ul>
 <!--[if lte IE 6]></td></tr></table></a><![endif]-->
</li>   </ul>
</div>
</td>
<td>
<div class="menu1323">
	<ul><li><a href="http://mars.jpl.nasa.gov/news/"><img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_news.png" width="93" height="34" alt="News" title="News" border="0" id="nav_news" onmouseover="changeImages('nav_news', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_news_sel.png');" onmouseout="changeImages('nav_news', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_news.png');"><!--[if IE 7]><!--></a><!--<![endif]-->
<!--[if lte IE 6]><table><tr><td><![endif]-->
<ul onmouseover="changeImages('nav_news', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_news_sel.png');" onmouseout="changeImages('nav_news', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_news.png');">
<li><a href="http://mars.jpl.nasa.gov/news/whatsnew/" target="_blank" title="What's New">What's New</a></li>
<li><a href="http://mars.jpl.nasa.gov/news/newsroom/" target="_blank"title="Newsroom">Newsroom</a></li>
<li><a href="http://mars.jpl.nasa.gov/blogs/" target="_blank" title="Blogs: Martian Diaries">Blogs: Martian Diaries</a></li></ul>
<!--[if lte IE 6]></td></tr></table></a><![endif]-->
</li>   </ul>
</div>
</td>
<td>
<div class="menu1324"><ul><li><a href="http://mars.jpl.nasa.gov/multimedia/" target="_blank" ><img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_multimedia.png" width="142" height="34" alt="Multimedia" title="Multimedia" border="0" id="nav_multimedia" onmouseover="changeImages('nav_multimedia', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_multimedia_sel.png');" onmouseout="changeImages('nav_multimedia', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_multimedia.png');"><!--[if IE 7]><!--></a><!--<![endif]-->
<!--[if lte IE 6]><table><tr><td><![endif]-->
<ul onmouseover="changeImages('nav_multimedia', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_multimedia_sel.png');" onmouseout="changeImages('nav_multimedia', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_multimedia.png');">
<li><a href="http://mars.jpl.nasa.gov/multimedia/images" target="_blank" title="Images">Images/a></li>
<li><a href="http://mars.jpl.nasa.gov/multimedia/videos" target="_blank" title="Recent Videos">Recent Videos</a></li>
<li><a href="http://mars.jpl.nasa.gov/multimedia/videoarchive" target="_blank" title="Video Archive">Video Archive</a></li>
<li><a href="http://mars.jpl.nasa.gov/mars3d/" target="_blank" title="Mars 3D Images">Mars 3D Images</a></li></ul>
<!--[if lte IE 6]></td></tr></table></a><![endif]-->
</li>   </ul>
</div>
</td>
<td>
<div class="menu1325">
	<ul><li><a href="http://mars.jpl.nasa.gov/participate/" target="_blank"><img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_participate.png" width="142" height="34" alt="navtop_participate.png" title="navtop_participate.png" border="0" id="nav_participate" onmouseover="changeImages('nav_participate', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_participate_sel.png');" onmouseout="changeImages('nav_participate', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_participate.png');"><!--[if IE 7]><!--></a><!--<![endif]-->
<!--[if lte IE 6]><table><tr><td><![endif]-->
<ul onmouseover="changeImages('nav_participate', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_participate_sel.png');" onmouseout="changeImages('nav_participate', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_participate.png');">
<li><a href="http://mars.jpl.nasa.gov/participate/" target="_blank" title="Mars for Everyone">Mars for Everyone</a></li>
<li><a href="http://mars.jpl.nasa.gov/participate/marsforeducators/" target="_blank" title="Mars for Educators">Mars for Educators</a></li>
<li><a href="http://mars.jpl.nasa.gov/participate/students/" target="_blank" title="Mars for Students">Mars for Students</a></li>
<li><a href="http://mars.jpl.nasa.gov/participate/funzone/" target="_blank" title="Mars for Kids">Mars for Kids</a></li>
<li><a href="http://mars.jpl.nasa.gov/participate/events/" target="_blank" title="Events">Events</a></li></ul>
<!--[if lte IE 6]></td></tr></table></a><![endif]-->
</li>   </ul>
</div>
</td>
<td>
<div class="menu1151">
<ul><li><a href="http://mars.jpl.nasa.gov/search/" target="_blank" onclick="return false;"><img src="http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_search.png" width="89" height="34" alt="navtop_search.png" title="Search" border="0" id="nav_search" onmouseover="changeImages('nav_search', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_search_sel.png');" onmouseout="changeImages('nav_search', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_search.png');"><!--[if IE 7]><!--></a><!--<![endif]-->
<!--[if lte IE 6]><table><tr><td><![endif]-->
<ul onmouseover="changeImages('nav_search', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_search_sel.png');" onmouseout="changeImages('nav_search', 'http://marsstaticcdn.jpl.nasa.gov/layout/mep/images/navtop_search.png');"><form name="theSearchForm" action="http://mars.jpl.nasa.gov/search/" target="_blank" method="get" style="padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;"><li><input name="searchbox" value="SEARCH" type="text" class="searchbox" autocomplete="off" onfocus="if(this.value=='SEARCH'){this.value='';}" onblur="if(this.value==''){this.value='SEARCH';}"><div class="searchbutton"><input type="image" src="/assets/searchbutton.png" label="Click here to submit search request" alt="Click here to submit search request" style="behavior: url(http://marsstaticcdn.jpl.nasa.gov/layout/iepngfix/iepngfix.htc);"></div></li></form></ul>
<!--[if lte IE 6]></td></tr></table></a><![endif]-->
</li> </ul>
</div>
</td>
</tr>
</tbody></table>
</div>
</div>
</div>